@use "variables" as *;
@use "mixins" as *;
@use "typography" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-weight: 400;
  font-family: Poppins;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}
