@use "../../style/partials/mixins" as *;
@use "../../style/partials/typography" as *;
@use "../../style/partials/variables" as *;
@use "../../style/partials/global" as *;

.search {
  background-color: $BG_Color;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px;
    width: 90%;
    height: 54%;
    flex-shrink: 0;
    background: $BG_Color;

    /* Shadow 2 */
    box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.08);

    &__dropdown {
      display: flex;
      flex-direction: column;
      text-align: left;
    }
  }

  &-container__top {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 100%;
  }

  &__heading {
    color: $DarkPurp;
    @include screen-titles;
  }

  &__label {
    color: $BlackText;
    font-size: 1.25rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__dropdown {
    width: 73vw;
    height: 5vh;
    color: $DarkGrayTxt;
    background-color: $InputGray;
    font-size: 1.25rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 20px;
    padding: 0 1rem;
    border: none;
  }

  &__map {
    width: 18vw;
    height: 5vh;
  }

  &__button {
    border-radius: 36px;
    background: $PrimaryPurp;

    /* Btn Shadow */
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    height: 47px;
    width: 110px;
    padding: 0.75rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: $White;
    font-family: Poppins;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    border: none;
  }

  &-container__text {
    color: $BlackText;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &-container__advanced {
    display: flex;
    opacity: 0.15;
    align-items: center;
  }

  &-contianer__bottom {
    display: flex;
    align-items: center;
  }

  &__bookmark {
    position: absolute;
    top: 2%;
    right: 8%;
    color: $DarkPurp;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
